@page "{id:long}"
@model MB.Presentation.MVCCore.Pages.ArticleDetailsModel
@{
	ViewData["Title"] = "ArticleDetails";
}
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/css/stylesDetails.css" rel="stylesheet"/>
<link rel="stylesheet" href="~/css/HeaderAndFooter.css">
<!-- Page content-->
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-8">
			<!-- Post content-->
			<article>
				<!-- Post header-->
				<header class="mb-4">
					<!-- Post title-->
					<h1 class="fw-bolder mb-1">@Model.Article.Title</h1>
					<!-- Post meta content-->
					<div class="text-muted fst-italic mb-2">@Model.Article.CreationDate</div>
					<!-- Post categories-->
					<a class="badge bg-secondary text-decoration-none link-light" href="#!">@Model.Article.ArticleCategory</a>
				</header>
				<!-- Preview image figure-->
				<figure class="mb-4">
					<img class="img-fluid rounded" src="@Model.Article.Image" alt="@Model.Article.Title"/>
				</figure>
				<!-- Post content-->
				<section class="mb-5">
					<p class="fs-5 mb-4">@Model.Article.ShortDescription</p>
					<p class="fs-5 mb-4">@Model.Article.Content</p>
				</section>
			</article>

			<!-- Comments section-->
			<section class="mb-5">
			<!-- Single comment-->
			<div class="add-comment">
				<header>
					<h3 class="h6">Leave a reply</h3>
				</header>
				<form method="post">
					<div class="mb-3">
							<label for="Name" class="form-label">Name</label>
						<input type="text" class="form-control" id="Name" name="Name">
					</div>
					<div class="mb-3">
							<label for="Email" class="form-label">Email address</label>
						<input type="email" class="form-control" id="Email" name="Email" aria-describedby="emailHelp">
						<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
					</div>
					<div class="mb-3">
							<label for="Message" class="form-label">Message</label>
						<textarea name="Message" id="Message" placeholder="Type your comment" class="form-control"></textarea>
					</div>
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Check me out</label>
					</div>
						<input type="hidden" name="ArticleId" value="@Model.Article.Id" />
						<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			</section>
		</div>
	</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>